.Card{
border: 1px solid rgb(163, 159, 159) ;
border-radius: 5px;
box-shadow: 5px 5px 5px rgb(68, 64, 64);
text-align: center;
max-width: 300px;
margin: 20px;
display: inline-block;
}
.Card .Card-IMG{
    border: 1px solid rgb(163, 159, 159) ;
    max-width: 30%;
    height: auto;
    padding: 1px;
    margin: 5px;
}
.Card-UID{
    
}
.Card-ID{
    
}
.Card-Body{
    
}
.Card-Btn{
    
}