.inputDIV{
border: 2px solid black ;
background-color: yellowgreen;
margin: 5px;
padding: 5px;
align-items: center;
position: absolute;
justify-content: center;
align-items: center;
height: fit-content;
width: fit-content;
left: 42%;
top: 42%;
}

.urlInput{
width: 50%;
position: relative;
left: 20%;

}

.newCardBTN{
position: relative;
left: 20%;
margin: 5px;
width: 50%;
}

body{
    background-color: rgb(88, 86, 86);
}